meshgpt_pytorch==0.6.7
pytorch-custom-utils
accelerate>=0.25.0
beartype
einops>=0.7.0
ema-pytorch
pytorch-warmup
torch_geometric
torchtyping
vector-quantize-pytorch==1.12.8
x-transformers==1.26.6
tqdm
matplotlib
pyrr
trimesh
opencv-python
pyrender
easydict
chardet
deepspeed
omegaconf
jaxtyping
timm
typeguard
scikit-image
setuptools==69.5.1
pytorch_lightning
numpy==1.26.4